body{
    margin: 0;
    padding: 0;
    background: url(imgback.jpg) no-repeat;
    background-size: cover;

}
.box{
    width: 450px;

    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'century gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    
}

#list  a:hover i{
    color: #3a3a3a;
}

.sticky {
    position: sticky;
    padding: 5px;
    background: rgba(0,0,0,0.4);
    border: 2px solid #2a333b;
  }

  @media print{
    .parent > div{
    background-color: white;
    color: black;
    
    }
  }